---
title:  Slug - Give your employees a reason to carpool
body_class: index
---

<script src="//www.parsecdn.com/js/parse-1.3.5.min.js"></script>

%header
  .logo

%section.secondary
  %h1 Find friendly colleagues to commute with

  %label
    Sign up with your official company email
  %br
  %input{placeholder: "Corporate email"}
  %button
    Submit

%section.employee-benefits
  =image_tag("employee-steps.png")

%section.why-people-love
  .firstcol
    .phone
  .secondcol
    Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren,








