---
title:  Slug - Give your employees a reason to carpool
body_class: index
---


%header
  Some stuff goes here

%section.secondary
  =image_tag("slugg-logo.png")

  =image_tag("hitch.png")

  %h1 Find friendly colleagues to commute with

  %label
    Sign up with your official company email
  %input{placeholder: "Corporate email address"}


%section.benefits








