---
title:  Slug - Give your employees a reason to carpool
body_class: index
---

<script src="//www.parsecdn.com/js/parse-1.3.5.min.js"></script>

%header
  .logo

%section.secondary
  %h1 Find friendly colleagues to commute with

  %label
    Sign up with your official company email
  %br
  %input{placeholder: "Corporate email"}
  %button
    Submit

%section.benefits
  .center
    =image_tag("employee-steps.png")








