@charset "UTF-8";@font-face {
  font-family: 'brandon-grotesque-light';
  src: url('/fonts/brandon-grotesque-light.eot');
  src: url('/fonts/brandon-grotesque-light.eot?#iefix') format("embedded-opentype"), url('/fonts/brandon-grotesque-light.woff') format("woff"), url('/fonts/brandon-grotesque-light.ttf') format("truetype"), url('/fonts/brandon-grotesque-light.svg') format("svg");
  font-weight: normal;
  font-style: normal; }
/*regular*/
@font-face {
  font-family: 'brandon-grotesque';
  src: url('/fonts/brandon-grotesque-regular-latin-1-webfont.eot');
  src: url('/fonts/brandon-grotesque-regular-latin-1-webfont.eot?#iefix') format("embedded-opentype"), url('/fonts/brandon-grotesque-regular-latin-1-webfont.woff') format("woff"), url('/fonts/brandon-grotesque-regular-latin-1-webfont.ttf') format("truetype"), url('/fonts/brandon-grotesque-regular-latin-1-webfont.svg') format("svg");
  font-weight: normal;
  font-style: normal; }
/*medium*/
@font-face {
  font-family: 'brandon-medium';
  src: url('/fonts/brandon_med.eot');
  src: url('/fonts/brandon_med.eot?#iefix') format("embedded-opentype"), url('/fonts/brandon_med.woff') format("woff"), url('/fonts/brandon_med.ttf') format("truetype"), url('/fonts/brandon_med.svg') format("svg");
  font-weight: normal;
  font-style: normal; }
/*bold*/
@font-face {
  font-family: 'brandon-bold';
  src: url('/fonts/brandon_bld.eot');
  src: url('/fonts/brandon_bld.eot?#iefix') format("embedded-opentype"), url('/fonts/brandon_bld.woff') format("woff"), url('/fonts/brandon_bld.ttf') format("truetype"), url('/fonts/brandon_bld.svg') format("svg");
  font-weight: normal;
  font-style: normal; }
/*black*/
@font-face {
  font-family: 'brandon-grotesque-black';
  src: url('/fonts/brandon-grotesque-black-latin-1-webfont.eot');
  src: url('/fonts/brandon-grotesque-black-latin-1-webfont.eot?#iefix') format("embedded-opentype"), url('/fonts/brandon-grotesque-black-latin-1-webfont.woff') format("woff"), url('/fonts/brandon-grotesque-black-latin-1-webfont.ttf') format("truetype"), url('/fonts/brandon-grotesque-black-latin-1-webfont.svg') format("svg");
  font-weight: normal;
  font-style: normal; }
/* line 16, all.css.sass */
body {
  background: #F2F8FE;
  font-family: "brandon-grotesque-light", "Avenir Next", Avenir, "Helvetica Neue", Helvetica, Arial, sans-serif; }

/* line 20, all.css.sass */
header {
  background-color: #DEE7EC;
  height: 124px;
  color: #ddd;
  margin: 0 auto; }
  /* line 26, all.css.sass */
  header .logo {
    display: inline-block;
    background-image: url('/images/slugg-logo.png');
    height: 220px;
    width: 220px;
    position: absolute;
    left: 0;
    right: 0;
    margin: 0 auto;
    top: 13px; }

/* line 37, all.css.sass */
section.secondary {
  height: 370px;
  padding-top: 100px;
  text-align: center;
  background-image: url('/images/hitch.png');
  background-position: center center;
  background-repeat: no-repeat; }
  /* line 46, all.css.sass */
  section.secondary h1 {
    font-family: "brandon-medium", "Avenir Next", Avenir, "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 3em;
    color: #4482AC; }
  /* line 50, all.css.sass */
  section.secondary label {
    font-family: "brandon-medium", "Avenir Next", Avenir, "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 25px;
    margin-bottom: 10px;
    color: #769BBA; }
  /* line 55, all.css.sass */
  section.secondary input {
    padding: 10px;
    border-radius: 5px;
    border: 2px solid #ddd;
    outline: none;
    width: 250px;
    font-size: 23px;
    margin-top: 10px; }
    /* line 63, all.css.sass */
    section.secondary input:focus {
      background: #ffffee;
      border-color: #61CCFE; }
  /* line 67, all.css.sass */
  section.secondary button {
    width: 150px;
    height: 57px;
    border-radius: 5px;
    background-color: #CEDAE5;
    border: none;
    font-family: "brandon-medium", "Avenir Next", Avenir, "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 23px;
    outline: none;
    vertical-align: 2px;
    color: #565B60; }
    /* line 79, all.css.sass */
    section.secondary button:hover {
      background-color: #366687;
      color: #fff;
      transition: background-color 0.3s; }

/* line 85, all.css.sass */
section.employee-benefits {
  text-align: center; }

/* line 88, all.css.sass */
section.why-people-love {
  margin-top: 85px;
  background: #5B976D; }
  /* line 91, all.css.sass */
  section.why-people-love .firstcol {
    margin: 0;
    width: 63%;
    float: left;
    background-color: #51865C;
    padding: 53px 12px;
    height: 994px; }
    /* line 98, all.css.sass */
    section.why-people-love .firstcol .phone {
      background-position: center;
      background-image: url('/images/app-background.png');
      background-size: cover;
      background-repeat: no-repeat;
      display: block;
      height: 900px;
      width: 505px;
      border: 11px solid #61A16E;
      margin: auto;
      border-radius: 40px; }
  /* line 111, all.css.sass */
  section.why-people-love .secondcol {
    margin: 0;
    width: 32%;
    float: right;
    background-color: #5B976D;
    color: #fff;
    padding: 20px 35px;
    height: 1060px; }
    /* line 119, all.css.sass */
    section.why-people-love .secondcol h2 {
      font-size: 40px;
      margin-bottom: 5px;
      font-family: "brandon-medium", "Avenir Next", Avenir, "Helvetica Neue", Helvetica, Arial, sans-serif; }
    /* line 123, all.css.sass */
    section.why-people-love .secondcol p {
      font-size: 30px;
      font-family: "brandon-grotesque-light", "Avenir Next", Avenir, "Helvetica Neue", Helvetica, Arial, sans-serif; }
@font-face {
  font-family: 'brandon-grotesque-light';
  src: url('/fonts/brandon-grotesque-light.eot');
  src: url('/fonts/brandon-grotesque-light.eot?#iefix') format("embedded-opentype"), url('/fonts/brandon-grotesque-light.woff') format("woff"), url('/fonts/brandon-grotesque-light.ttf') format("truetype"), url('/fonts/brandon-grotesque-light.svg') format("svg");
  font-weight: normal;
  font-style: normal; }
/*regular*/
@font-face {
  font-family: 'brandon-grotesque';
  src: url('/fonts/brandon-grotesque-regular-latin-1-webfont.eot');
  src: url('/fonts/brandon-grotesque-regular-latin-1-webfont.eot?#iefix') format("embedded-opentype"), url('/fonts/brandon-grotesque-regular-latin-1-webfont.woff') format("woff"), url('/fonts/brandon-grotesque-regular-latin-1-webfont.ttf') format("truetype"), url('/fonts/brandon-grotesque-regular-latin-1-webfont.svg') format("svg");
  font-weight: normal;
  font-style: normal; }
/*medium*/
@font-face {
  font-family: 'brandon-medium';
  src: url('/fonts/brandon_med.eot');
  src: url('/fonts/brandon_med.eot?#iefix') format("embedded-opentype"), url('/fonts/brandon_med.woff') format("woff"), url('/fonts/brandon_med.ttf') format("truetype"), url('/fonts/brandon_med.svg') format("svg");
  font-weight: normal;
  font-style: normal; }
/*bold*/
@font-face {
  font-family: 'brandon-bold';
  src: url('/fonts/brandon_bld.eot');
  src: url('/fonts/brandon_bld.eot?#iefix') format("embedded-opentype"), url('/fonts/brandon_bld.woff') format("woff"), url('/fonts/brandon_bld.ttf') format("truetype"), url('/fonts/brandon_bld.svg') format("svg");
  font-weight: normal;
  font-style: normal; }
/*black*/
@font-face {
  font-family: 'brandon-grotesque-black';
  src: url('/fonts/brandon-grotesque-black-latin-1-webfont.eot');
  src: url('/fonts/brandon-grotesque-black-latin-1-webfont.eot?#iefix') format("embedded-opentype"), url('/fonts/brandon-grotesque-black-latin-1-webfont.woff') format("woff"), url('/fonts/brandon-grotesque-black-latin-1-webfont.ttf') format("truetype"), url('/fonts/brandon-grotesque-black-latin-1-webfont.svg') format("svg");
  font-weight: normal;
  font-style: normal; }


@font-face {
  font-family: "pelican";
  src:url("fonts/pelican.eot");
  src:url("fonts/pelican.eot?#iefix") format("embedded-opentype"),
    url("fonts/pelican.woff") format("woff"),
    url("fonts/pelican.ttf") format("truetype"),
    url("fonts/pelican.svg#pelican") format("svg");
  font-weight: normal;
  font-style: normal;

}

[data-icon]:before {
  font-family: "pelican" !important;
  content: attr(data-icon);
  font-style: normal !important;
  font-weight: normal !important;
  font-variant: normal !important;
  text-transform: none !important;
  speak: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

[class^="icon-"]:before,
[class*=" icon-"]:before {
  font-family: "pelican" !important;
  font-style: normal !important;
  font-weight: normal !important;
  font-variant: normal !important;
  text-transform: none !important;
  speak: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-bulb:before {
  content: "a";
}
.icon-banknote:before {
  content: "b";
}
.icon-clock:before {
  content: "c";
}
.icon-cup:before {
  content: "d";
}
.icon-like:before {
  content: "e";
}
.icon-shop:before {
  content: "f";
}
.icon-star:before {
  content: "g";
}
.icon-truck:before {
  content: "h";
}
.icon-location:before {
  content: "i";
}
.icon-cloud:before {
  content: "j";
}
.icon-heart:before {
  content: "k";
}
.icon-phone:before {
  content: "l";
}
/*! normalize.css v2.0.1 | MIT License | git.io/normalize */

/* ==========================================================================
   HTML5 display definitions
   ========================================================================== */

/*
 * Corrects `block` display not defined in IE 8/9.
 */


article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
nav,
section,
summary {
    display: block;
}

/*
 * Corrects `inline-block` display not defined in IE 8/9.
 */

audio,
canvas,
video {
    display: inline-block;
}

/*
 * Prevents modern browsers from displaying `audio` without controls.
 * Remove excess height in iOS 5 devices.
 */

audio:not([controls]) {
    display: none;
    height: 0;
}

/*
 * Addresses styling for `hidden` attribute not present in IE 8/9.
 */

[hidden] {
    display: none;
}

/* ==========================================================================
   Base
   ========================================================================== */

/*
 * 1. Sets default font family to sans-serif.
 * 2. Prevents iOS text size adjust after orientation change, without disabling
 *    user zoom.
 */

html {
    font-family: sans-serif; /* 1 */
    -webkit-text-size-adjust: 100%; /* 2 */
    -ms-text-size-adjust: 100%; /* 2 */
}

/*
 * Removes default margin.
 */

body {
    margin: 0;
}

/* ==========================================================================
   Links
   ========================================================================== */

/*
 * Addresses `outline` inconsistency between Chrome and other browsers.
 */

a:focus {
    outline: thin dotted;
}

/*
 * Improves readability when focused and also mouse hovered in all browsers.
 */

a:active,
a:hover {
    outline: 0;
}

/* ==========================================================================
   Typography
   ========================================================================== */

/*
 * Addresses `h1` font sizes within `section` and `article` in Firefox 4+,
 * Safari 5, and Chrome.
 */

h1 {
    font-size: 2em;
}

/*
 * Addresses styling not present in IE 8/9, Safari 5, and Chrome.
 */

abbr[title] {
    border-bottom: 1px dotted;
}

/*
 * Addresses style set to `bolder` in Firefox 4+, Safari 5, and Chrome.
 */

b,
strong {
    font-weight: bold;
}

/*
 * Addresses styling not present in Safari 5 and Chrome.
 */

dfn {
    font-style: italic;
}

/*
 * Addresses styling not present in IE 8/9.
 */

mark {
    background: #ff0;
    color: #000;
}


/*
 * Corrects font family set oddly in Safari 5 and Chrome.
 */

code,
kbd,
pre,
samp {
    font-family: monospace, serif;
    font-size: 1em;
}

/*
 * Improves readability of pre-formatted text in all browsers.
 */

pre {
    white-space: pre;
    white-space: pre-wrap;
    word-wrap: break-word;
}

/*
 * Sets consistent quote types.
 */

q {
    quotes: "\201C" "\201D" "\2018" "\2019";
}

/*
 * Addresses inconsistent and variable font size in all browsers.
 */

small {
    font-size: 80%;
}

/*
 * Prevents `sub` and `sup` affecting `line-height` in all browsers.
 */

sub,
sup {
    font-size: 75%;
    line-height: 0;
    position: relative;
    vertical-align: baseline;
}

sup {
    top: -0.5em;
}

sub {
    bottom: -0.25em;
}

/* ==========================================================================
   Embedded content
   ========================================================================== */

/*
 * Removes border when inside `a` element in IE 8/9.
 */

img {
    border: 0;
}

/*
 * Corrects overflow displayed oddly in IE 9.
 */

svg:not(:root) {
    overflow: hidden;
}

/* ==========================================================================
   Figures
   ========================================================================== */

/*
 * Addresses margin not present in IE 8/9 and Safari 5.
 */

figure {
    margin: 0;
}

/* ==========================================================================
   Forms
   ========================================================================== */

/*
 * Define consistent border, margin, and padding.
 */

fieldset {
    border: 1px solid #c0c0c0;
    margin: 0 2px;
    padding: 0.35em 0.625em 0.75em;
}

/*
 * 1. Corrects color not being inherited in IE 8/9.
 * 2. Remove padding so people aren't caught out if they zero out fieldsets.
 */

legend {
    border: 0; /* 1 */
    padding: 0; /* 2 */
}

/*
 * 1. Corrects font family not being inherited in all browsers.
 * 2. Corrects font size not being inherited in all browsers.
 * 3. Addresses margins set differently in Firefox 4+, Safari 5, and Chrome
 */

button,
input,
select,
textarea {
    font-family: inherit; /* 1 */
    font-size: 100%; /* 2 */
    margin: 0; /* 3 */
}

/*
 * Addresses Firefox 4+ setting `line-height` on `input` using `!important` in
 * the UA stylesheet.
 */

button,
input {
    line-height: normal;
}

/*
 * 1. Avoid the WebKit bug in Android 4.0.* where (2) destroys native `audio`
 *    and `video` controls.
 * 2. Corrects inability to style clickable `input` types in iOS.
 * 3. Improves usability and consistency of cursor style between image-type
 *    `input` and others.
 */

button,
html input[type="button"], /* 1 */
input[type="reset"],
input[type="submit"] {
    -webkit-appearance: button; /* 2 */
    cursor: pointer; /* 3 */
}

/*
 * Re-set default cursor for disabled elements.
 */

button[disabled],
input[disabled] {
    cursor: default;
}

/*
 * 1. Addresses box sizing set to `content-box` in IE 8/9.
 * 2. Removes excess padding in IE 8/9.
 */

input[type="checkbox"],
input[type="radio"] {
    box-sizing: border-box; /* 1 */
    padding: 0; /* 2 */
}

/*
 * 1. Addresses `appearance` set to `searchfield` in Safari 5 and Chrome.
 * 2. Addresses `box-sizing` set to `border-box` in Safari 5 and Chrome
 *    (include `-moz` to future-proof).
 */

input[type="search"] {
    -webkit-appearance: textfield; /* 1 */
    -moz-box-sizing: content-box;
    -webkit-box-sizing: content-box; /* 2 */
    box-sizing: content-box;
}

/*
 * Removes inner padding and search cancel button in Safari 5 and Chrome
 * on OS X.
 */

input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-decoration {
    -webkit-appearance: none;
}

/*
 * Removes inner padding and border in Firefox 4+.
 */

button::-moz-focus-inner,
input::-moz-focus-inner {
    border: 0;
    padding: 0;
}

/*
 * 1. Removes default vertical scrollbar in IE 8/9.
 * 2. Improves readability and alignment in all browsers.
 */

textarea {
    overflow: auto; /* 1 */
    vertical-align: top; /* 2 */
}

/* ==========================================================================
   Tables
   ========================================================================== */

/*
 * Remove most spacing between table cells.
 */

table {
    border-collapse: collapse;
    border-spacing: 0;
}
@font-face {
  font-family: 'brandon-grotesque-light';
  src: url('/fonts/brandon-grotesque-light.eot');
  src: url('/fonts/brandon-grotesque-light.eot?#iefix') format("embedded-opentype"), url('/fonts/brandon-grotesque-light.woff') format("woff"), url('/fonts/brandon-grotesque-light.ttf') format("truetype"), url('/fonts/brandon-grotesque-light.svg') format("svg");
  font-weight: normal;
  font-style: normal; }
/*regular*/
@font-face {
  font-family: 'brandon-grotesque';
  src: url('/fonts/brandon-grotesque-regular-latin-1-webfont.eot');
  src: url('/fonts/brandon-grotesque-regular-latin-1-webfont.eot?#iefix') format("embedded-opentype"), url('/fonts/brandon-grotesque-regular-latin-1-webfont.woff') format("woff"), url('/fonts/brandon-grotesque-regular-latin-1-webfont.ttf') format("truetype"), url('/fonts/brandon-grotesque-regular-latin-1-webfont.svg') format("svg");
  font-weight: normal;
  font-style: normal; }
/*medium*/
@font-face {
  font-family: 'brandon-medium';
  src: url('/fonts/brandon_med.eot');
  src: url('/fonts/brandon_med.eot?#iefix') format("embedded-opentype"), url('/fonts/brandon_med.woff') format("woff"), url('/fonts/brandon_med.ttf') format("truetype"), url('/fonts/brandon_med.svg') format("svg");
  font-weight: normal;
  font-style: normal; }
/*bold*/
@font-face {
  font-family: 'brandon-bold';
  src: url('/fonts/brandon_bld.eot');
  src: url('/fonts/brandon_bld.eot?#iefix') format("embedded-opentype"), url('/fonts/brandon_bld.woff') format("woff"), url('/fonts/brandon_bld.ttf') format("truetype"), url('/fonts/brandon_bld.svg') format("svg");
  font-weight: normal;
  font-style: normal; }
/*black*/
@font-face {
  font-family: 'brandon-grotesque-black';
  src: url('/fonts/brandon-grotesque-black-latin-1-webfont.eot');
  src: url('/fonts/brandon-grotesque-black-latin-1-webfont.eot?#iefix') format("embedded-opentype"), url('/fonts/brandon-grotesque-black-latin-1-webfont.woff') format("woff"), url('/fonts/brandon-grotesque-black-latin-1-webfont.ttf') format("truetype"), url('/fonts/brandon-grotesque-black-latin-1-webfont.svg') format("svg");
  font-weight: normal;
  font-style: normal; }
@font-face {
  font-family: "pelican";
  src: url("fonts/pelican.eot");
  src: url("fonts/pelican.eot?#iefix") format("embedded-opentype"), url("fonts/pelican.woff") format("woff"), url("fonts/pelican.ttf") format("truetype"), url("fonts/pelican.svg#pelican") format("svg");
  font-weight: normal;
  font-style: normal; }
/* line 15, vendor/icon-styles.css */
[data-icon]:before {
  font-family: "pelican" !important;
  content: attr(data-icon);
  font-style: normal !important;
  font-weight: normal !important;
  font-variant: normal !important;
  text-transform: none !important;
  speak: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale; }

/* line 28, vendor/icon-styles.css */
[class^="icon-"]:before,
[class*=" icon-"]:before {
  font-family: "pelican" !important;
  font-style: normal !important;
  font-weight: normal !important;
  font-variant: normal !important;
  text-transform: none !important;
  speak: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale; }

/* line 41, vendor/icon-styles.css */
.icon-bulb:before {
  content: "a"; }

/* line 44, vendor/icon-styles.css */
.icon-banknote:before {
  content: "b"; }

/* line 47, vendor/icon-styles.css */
.icon-clock:before {
  content: "c"; }

/* line 50, vendor/icon-styles.css */
.icon-cup:before {
  content: "d"; }

/* line 53, vendor/icon-styles.css */
.icon-like:before {
  content: "e"; }

/* line 56, vendor/icon-styles.css */
.icon-shop:before {
  content: "f"; }

/* line 59, vendor/icon-styles.css */
.icon-star:before {
  content: "g"; }

/* line 62, vendor/icon-styles.css */
.icon-truck:before {
  content: "h"; }

/* line 65, vendor/icon-styles.css */
.icon-location:before {
  content: "i"; }

/* line 68, vendor/icon-styles.css */
.icon-cloud:before {
  content: "j"; }

/* line 71, vendor/icon-styles.css */
.icon-heart:before {
  content: "k"; }

/* line 74, vendor/icon-styles.css */
.icon-phone:before {
  content: "l"; }